data/raw/*
!data/raw/.gitkeep

outputs/figures/*
!outputs/figures/.gitkeep
outputs/tables/*
!outputs/tables/.gitkeep

__pycache__/
*.py[cod]

.ipynb_checkpoints/
**/.ipynb_checkpoints/
.virtual_documents/

.pixi/*
!.pixi/config.toml

.vscode/*
